@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .glass-panel {
    background-color: rgba(30, 41, 59, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid theme('colors.outline-variant');
  }
  
  .glass-panel-interactive:hover {
    border-color: theme('colors.primary');
    box-shadow: 0 0 10px rgba(190, 198, 224, 0.2);
  }
}
